.page-title {
  position         : relative;
  color            : var(--c-accent);
  margin-block-end : var(--size-xxl);
}

.text--center {
  text-align : center;
}

.text--two-columns {
  columns    : 2;
  column-gap : var(--size-xxl);
}

.link__empty {
  color : inherit;
}
